# requirements.txt
python-telegram-bot==20.3
flask==3.0.0
gunicorn==23.0.0
firebase-admin==6.2.0
google-cloud-secret-manager==2.16.1
requests==2.32.4
pycryptodome==3.19.1
python-dotenv==1.0.0
google-api-python-client==2.177.0  # Pinned version
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability